$longest-duration: 10s;
$half-duration: 5s;
$bracket-duration: 2s;

:root {
	--animation-time: 2s; 
}

html, body {
  height: 100%;
  overflow-x: hidden;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
  background-color: rgba(0,0,0,0.75);
  font-size: 16px;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  margin: 0;
}

#body-index {
  background-color: #FFF;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1)), url('../img/bg-0.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

#intro-page {
    position: fixed;
    padding: 0;
    vertical-align: bottom;
    justify-content: center;
    align-items: flex-end;
    height: inherit;
    width: 100%;
    z-index: 0;
    background-image: linear-gradient(#000000, #FFFFFF);

    -webkit-animation-name: opacity-intro-page;
    -webkit-animation-duration: $longest-duration;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    animation-name: opacity-intro-page;
    animation-duration: $longest-duration;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#body-index {
    position: relative;
    padding: 0;
    justify-content: center;
    align-items: flex-end;
    height: inherit;
}

//https://codepen.io/yoannhel/pen/sJpDj
#message {
    position: fixed;
    z-index: -1;
    width: 100%;
    overflow: hidden;
    top: 50%;
    height: 1.2em;
    display: flex;
    align-items: center;
    font-family: 'Special Elite', cursive;
    text-align: center;
    justify-content: center;
    color: #FFFFFF;
    font-size: 3vw;

    -webkit-animation-name: opacity-quote;
    -webkit-animation-duration: $half-duration;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    animation-name: opacity-quote;
    animation-duration: $half-duration;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

    &:before {
        content: '[';
        left: 10%;
    }

    &:after {
        content: ']';
        position: absolute;
        right: 10%;
    }

    &:after, &:before {
        position: absolute;
        
        color: #CCCCCC;
        font-size: 1em;
        line-height: 40px;
        
        -webkit-animation-name: opacity-bracket;
        -webkit-animation-duration: $bracket-duration;
        -webkit-animation-iteration-count: infinite;
        animation-name: opacity-bracket;
        animation-duration: $bracket-duration;
        animation-iteration-count: infinite;
    }

    .text-1 {
        display: inline;
        float: left;
        margin: 0;
    }

    .text-2 {
        margin-top: 0;
        text-align: left;
        list-style: none;
        font-weight: bold;
        
        -webkit-animation-name: change, opacity-quote;
        -webkit-animation-duration: $half-duration;
        -webkit-animation-iteration-count: 1;
        -webkit-animation-fill-mode: forwards;
        animation-name: change, opacity-quote;
        animation-duration: $half-duration;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;

        .text-item {
            line-height:1.2em;
            margin:0;
        }

        .seconds {
            text-decoration: underline;
        }
    }
}

#project-name {
    position: fixed;
    z-index: -1;
    width: 100%;
    overflow: hidden;
    top: 50%;
    height: 1.2em;
    display: flex;
    align-items: center;
    font-family: 'Special Elite', cursive;
    text-align: center;
    justify-content: center;
    color: #FFFFFF;
    font-size: 5vw;

    -webkit-animation-name: animation-project-name;
    -webkit-animation-duration: $longest-duration;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
    animation-name: animation-project-name;
    animation-duration: $longest-duration;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

    &:before {
        content: '[';
        left: 25%;
    }

    &:after {
        content: ']';
        position: absolute;
        right: 25%;
    }

    &:after, &:before {
        position: absolute;
        
        color: rgb(255, 0, 0);
        font-size: 1em;
        line-height: 40px;
        
        -webkit-animation-name: opacity-bracket;
        -webkit-animation-duration: $bracket-duration;
        -webkit-animation-iteration-count: infinite;
        animation-name: opacity-bracket;
        animation-duration: $bracket-duration;
        animation-iteration-count: infinite;
    }

    p {
        font-weight: bold;
    }
}


#bg-one {
    bottom: 50px;
    position: fixed;
    z-index: -2;
    width: 100%;
    display: inline-flex;
}

#bg-two {
    bottom: 250px;
    z-index: -3;
    position: fixed;
    width: 100%;
    filter: blur(6px);
    display: inline-flex;
}

#bg-three {
    bottom: 375px;
    z-index: -4;
    position: fixed;
    width: 100%;
    filter: blur(12px);
    display: inline-flex;
}

#bg-four {
    bottom: 475px;
    z-index: -5;
    position: fixed;
    width: 100%;
    filter: blur(18px);
    display: inline-flex;
}

@keyframes flicker {
  100% {
    opacity: 1;
  } 0% {
    opacity: 0;
  }
}


//https://codepen.io/robinrendle/pen/397deea9cfff5c5973d0051765ae7bef?editors=1111
.person {
  animation: flicker var(--animation-time) ease reverse 1 forwards;
  fill: #000000;
}

// --------

#content-page {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    font-size: 1.5em;
    white-space: nowrap;
    text-align: center;
    z-index: -1;
}

#map path {
    fill: #666666;
    stroke: #999999;
}

#map path:hover {
  fill: #CC0000;
}

.left, .right {
    width: 45%;
    padding: 1em;
    vertical-align: top;
    text-align: center;
    white-space: normal;
}

.header-1 {
    margin-bottom: 4em;
}

.sub-menu {
  //https://codepen.io/jondaiello/details/WGZNZv
  width: auto;
  border: 1px solid #999999;
  border-radius: 0px 15px 0px 15px;
  border-left-width: 15px;
  border-left-color: #FF0000;
  margin-bottom: 0.75em;
  padding: 0.5em;
  vertical-align: middle;
  color: #FFFFFF;
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
  text-align: left;
  background: -moz-linear-gradient(120deg, #333333 0%, #999999 25%, #ff0000 50%, #660000 75%, #330000 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(120deg, #333333 0%,#999999 25%,#ff0000 50%,#660000 75%,#330000 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(120deg, #333333 0%,#999999 25%,#ff0000 50%,#660000 75%,#330000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  background-size: 400% 400%;
  background-repeat: no-repeat;
  transition: .3s all;
}

.sub-menu:hover {
  background-position: 100% 100%;
  box-shadow: 0 0 15px #ff1010;
}


a.sub-menu-link {
  text-decoration: none;
}

.site-name {
    font-family: 'Special Elite', cursive;
    font-weight: bold;
    font-size: 2em;    
    color: #FF0000;
    padding-bottom: 0.5vw;
    text-shadow: 0px 0px 20px #000000;
}

.sub {
    font-weight: bold;
    font-size: 1.0em; 
    color: #FFFFFF;   
}

.quote {
    font-weight: lighter;
    font-style: italic;
    color: #FFFFFF;
    padding-bottom: 1.5em;
}

.authors {
    font-size: 1.0em;
    font-weight: lighter;
    color: #FFFFFF;
}

.menu > div {
    text-align: left;
}

.subunit-label {
  font-weight: lighter;
  font-size: 0.7em;
  fill: #FFFFFF;
}

text {
  pointer-events: none;
}

div.tooltip { 
  position: absolute;     
  text-align: left;     
  width: fit-content;                 
  padding: 0.5em;       
  font: 0.5em;  
  background: #fff; 
  border: 0px;        
  pointer-events: none;     
}

  
@-webkit-keyframes opacity-bracket {
  0%, 100% {opacity:0;}
  50% {opacity:1;}
}

@-webkit-keyframes change {
  0%, 25% {transform:translate3d(0,50%,0);}
  75%, 100% {transform:translate3d(0,0,0);}
}

@-webkit-keyframes opacity-quote {
  0%, 100% {opacity: 0;}
  15%, 85% {opacity: 1;}
}

@-webkit-keyframes animation-project-name {
  0%, 50% {opacity: 0;}
  65%, 100% {opacity: 1;}
  0% {transform: scale(1);}
  100% {transform: scale(1.5);}
}

@-webkit-keyframes opacity-intro-page {
  0%, 90% {opacity: 1;}
  100% {opacity: 0;}
}

@-o-keyframes opacity-bracket {
  0%, 100% {opacity:0;}
  50% {opacity:1;}
}

@-o-keyframes change {
  0%, 25% {transform:translate3d(0,50%,0);}
  75%, 100% {transform:translate3d(0,0,0);}
}

@-o-keyframes opacity-quote {
  0%, 100% {opacity: 0;}
  15%, 85% {opacity: 1;}
}

@-o-keyframes animation-project-name {
  0%, 50% {opacity: 0;}
  65%, 100% {opacity: 1;}
  0% {transform: scale(1);}
  100% {transform: scale(1.5);}
}

@-o-keyframes opacity-intro-page {
  0%, 90% {opacity: 1;}
  100% {opacity: 0;}
}

@-moz-keyframes opacity-bracket {
  0%, 100% {opacity:0;}
  50% {opacity:1;}
}

@-moz-keyframes change {
  0%, 25% {transform:translate3d(0,50%,0);}
  75%, 100% {transform:translate3d(0,0,0);}
}

@-moz-keyframes opacity-quote {
  0%, 100% {opacity: 0;}
  15%, 85% {opacity: 1;}
}

@-moz-keyframes animation-project-name {
  0%, 50% {opacity: 0;}
  65%, 100% {opacity: 1;}
  0% {transform: scale(1);}
  100% {transform: scale(1.5);}
}

@-moz-keyframes opacity-intro-page {
  0%, 90% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes opacity-bracket {
  0%, 100% {opacity:0;}
  50% {opacity:1;}
}

@keyframes change {
  0%, 25% {transform:translate3d(0,50%,0);}
  40%, 100% {transform:translate3d(0,0,0);}
}

@keyframes opacity-quote {
  0%, 100% {opacity: 0;}
  15%, 85% {opacity: 1;}
}

@keyframes animation-project-name {
  0%, 50% {opacity: 0;}
  65%, 100% {opacity: 1;}
  0% {transform: scale(1);}
  100% {transform: scale(1.5);}
}

@keyframes opacity-intro-page {
  0%, 90% {opacity: 1;}
  100% {opacity: 0;}
}

//--------- Content Page ----------

header {
  display: flex;
  position: fixed;
  width: 100%;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  color: #FFFFFF;
  padding: 0 1.5vw 0 1.5vw;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
}

header a:link, header a:visited, .main-menu-item {
  color: #FFFFFF;
  text-decoration: none;
}

header a:link, header a:visited, .main-menu-item {
  color: #FFFFFF;
}

header a:hover, .main-menu-item:hover {
  color: #CCCCCC;
  cursor: pointer;
}

.main-menu-item {
  font-size: 0.9em;
  margin-right: 1vw;
  padding-left: 1vw;
  border-left: 2px solid #FFFFFF;
  width: 20%;
  text-align: left;
  background-color: rgba(1,1,1,0.2);
  display: flex;
  align-items: center;
}

#site-name-header > a {
  display: block;
  padding-top: 1.5vw;
  color: #FF0000;
}

#menu-btn {
  position: relative;
}

/*
*   Checkbox for toggle open/close dropdown menu
*   This code has written by myself, but inspired by Chris Coyier's content at css-tricks.com
*   accessed 23-10-2019
*   https://css-tricks.com/the-checkbox-hack/
*   Adapt with dropdown menu class '.menu-dropdown-items'
*/
#btn-toggle {                   /* Checkbox used for toggle drop-down menu, define opacity = 0 and bring it into front layer */
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
}
/* End of referenced code : Checkbox for toggle open/close dropdown menu */

#label-btn-toggle {
  display: none;
}

/*
*   CSS Hamburger fold-out menu
*   This code was adapted from CodePen post by Erik Terwan
*   accessed 23-10-2019
*   https://codepen.io/erikterwan/pen/EVzeRP
*   Change code by set 'display' to be flex / remove 'transition' / adjust 'position'
*   see further comments for adaptions
*/
#menu-toggle {                  /* Hamburger menu icon wrapper */
  display: flex;              /* Change display from 'block' to 'flex' */
  flex-flow: column nowrap;   /* Change positioning from 'top', 'left' to use 'justify-content', 'align-items' */
  justify-content: center;
  align-items: center;
  height: 100%;               /* add 'height' setting */
}

#menu-toggle div                /* Each line in hamburger menu icon */
{
  width: 33px;
  height: 4px;
  margin-top: 2.5px;          /* change margin sizes */
  margin-bottom: 2.5px;
  background: #cccccc;      /* change color of each line to CCCCCC */
  border-radius: 3px;
  z-index: 1;
}
/* End of referenced code : CSS Hamburger fold-out menu */

/*
*   Dropdown menu for mobile site
*   This code was adapted from w3schools.com
*   accessed 23-10-2019
*   https://www.w3schools.com/css/tryit.asp?filename=trycss_dropdown_button
*   Change code by add 'border' to each menu item / Set position by using 'transform' / change appearance
*   Adapt checkbox '#btn-toggle:checked' to toggle dropdown menu open or close
*   see further comments for adaptions
*/

.menu-dropdown-items  {
  display: none;
  position: absolute;
  max-width: 16vw;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 0px 0px 15px 15px;
  z-index: 2;
}

// .menu-dropdown-items a:link, .menu-dropdown-items a:visited {
//   padding: 7px 10px;                    /* change padding size */
//   display: block;
//   border-bottom: 1px solid #cccccc;   /* add 'border' to each menu item */
// }

// .menu-dropdown-items a:hover {
//   background-color: #9A55B2;          /* change background color to align with theme color */
//   color: #FFFFFF;
// }
/* End of referenced code : Dropdown menu for mobile site */

.main-menu-item-mobile {
  color: #FFFFFF;                     /* change font color to align with theme color  */
  padding: 7px 10px;                    /* change padding size */
  background-color: #333333;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  border-bottom: 1px solid #cccccc;   /* add 'border' to each menu item */
  cursor: pointer;
}

.sub-menu-items ul, .menu-dropdown-items ul {
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
  padding-left: 1.25em;
}

.sub-menu-items ul li, .menu-dropdown-items ul li {
  list-style: circle;
  font-size: 0.8em;
  font-weight: normal;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
}

.content {
  padding: 1em;
  color: #FFFFFF;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-img {
  background-image: url('../img/bg-1.jpg');
  height: 100%; 
}

.bg-color {
  background-color: #000000;
  height: 300px;
  // background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1)), url('../img/bg-1.jpg');
}

//--------- Mobile Site -----------

@media only screen and (max-device-width: 850px) {
    body {
        font-size: 36px;
    }
    .left, .right {
        display: block;
        width: 100%;
    }

    .mobile-menu {                        /* Use flex (1 column) in main menu for mobile site */
      width: 12%;
      display: flex;
      flex-flow: column nowrap;
    }

    .menu-dropdown-items {
      font-size: 1em;
      min-width: 30vw;
      max-width: 45vw;
      transform: translate(-70%, 45px);
    }

    .desktop-menu {
      display: none;
    }

    #btn-toggle:checked ~ .menu-dropdown-items {
      display: block;
    }

    .header-1 {
      margin-bottom: 1em;
    }

    .subunit-label {
      font-size: 0.5em;
    }
  
}

@media only screen and (min-device-width: 850px) {
    .left, .right {
        display: inline-block;
    }

    .desktop-menu {
      width: 60%;
      height: max-content;
      display: flex;                      /* Use flex (1 row) in main menu for desktop site */
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: stretch;
      margin: 1em 0;
    }

    .mobile-menu {
      display: none;
    }
}

@media only screen and (min-device-width: 850px) and (max-device-width: 1024px) {
    body {
        font-size: 14px;
    }
}