html,
body {
  height: 100%;
  overflow-x: hidden;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: rgba(0, 0, 0, 0.75);
  font-size: 16px;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  margin: 0;
}

:root {
  --animation-time: 2s;
}

.body-content-page {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*
*   Background Images by Mike Chai on pexels.com
*   accessed 01-03-2020
*   https://www.pexels.com/photo/time-lapse-photography-of-people-walking-on-pedestrian-lane-842339/
*/
#body-index {
  background-color: #fff;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), black), url("../img/bg-0.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

/*
*   Background Images by Leo Cardelli on pexels.com
*   accessed 01-03-2020
*   https://www.pexels.com/photo/photography-of-person-walking-on-road-1236701/
*/
#body-page-1 {
  background-image: url("../img/bg-1.jpg");
}

/*
*   Background Images by Kat Jayne on pexels.com
*   accessed 15-03-2020
*   https://www.pexels.com/photo/architecture-boys-brick-wall-bricks-551594/
*/
#body-page-2 {
  background-image: url("../img/bg-2.jpg");
  background-color: rgba(0, 0, 0, 0.25);
}

/*
*   Background Images by 'Download a pic Donate a buck' on pexels.com
*   accessed 29-03-2020
*   https://www.pexels.com/photo/sunset-love-lake-resort-54379/
*/
#body-page-3 {
  background-image: url("../img/bg-3.jpg");
}

/*
*   Background Images by Lorenzo on pexels.com
*   accessed 03-05-2020
*   https://www.pexels.com/photo/adventure-city-country-destination-240834/
*/
#body-page-4 {
  background-image: url("../img/bg-4.jpg");
}

/*
*   Background Images by Kevin Ku on pexels.com
*   accessed 04-05-2020
*   https://www.pexels.com/photo/coding-computer-data-depth-of-field-577585/
*/
#body-page-5 {
  background-image: url("../img/bg-5.jpg");
}

#intro-page {
  position: fixed;
  padding: 0;
  vertical-align: bottom;
  justify-content: center;
  align-items: flex-end;
  height: inherit;
  width: 100%;
  z-index: 0;
  background-image: linear-gradient(#000000, #ffffff);
  -webkit-animation-name: opacity-intro-page;
  -webkit-animation-duration: 10s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  animation-name: opacity-intro-page;
  animation-duration: 10s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

#body-index {
  position: relative;
  padding: 0;
  justify-content: center;
  align-items: flex-end;
  height: inherit;
}

/*
*   Text Animation Effect for Splash Page
*   This code was adapted from CodePen post by Yoann
*   to fit with the splash page: change duration, font, color, message
*   accessed 19-02-2020
*   https://codepen.io/yoannhel/pen/sJpDj
*/
#message {
  position: fixed;
  z-index: -1;
  width: 100%;
  overflow: hidden;
  top: 50%;
  height: 1.2em;
  display: flex;
  align-items: center;
  font-family: "Special Elite", cursive;
  text-align: center;
  justify-content: center;
  color: #ffffff;
  font-size: 3vw;
  -webkit-animation-name: opacity-quote;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  animation-name: opacity-quote;
  animation-duration: 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
#message:before {
  content: "[";
  left: 10%;
}
#message:after {
  content: "]";
  position: absolute;
  right: 10%;
}
#message:after, #message:before {
  position: absolute;
  color: #cccccc;
  font-size: 1em;
  line-height: 40px;
  -webkit-animation-name: opacity-bracket;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-name: opacity-bracket;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
#message .text-1 {
  display: inline;
  float: left;
  margin: 0;
}
#message .text-2 {
  margin-top: 0;
  text-align: left;
  list-style: none;
  font-weight: bold;
  -webkit-animation-name: change, opacity-quote;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  animation-name: change, opacity-quote;
  animation-duration: 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
#message .text-2 .text-item {
  line-height: 1.2em;
  margin: 0;
}
#message .text-2 .seconds {
  text-decoration: underline;
}

#project-name {
  position: fixed;
  z-index: -1;
  width: 100%;
  overflow: hidden;
  top: 50%;
  height: 1.2em;
  display: flex;
  align-items: center;
  font-family: "Special Elite", cursive;
  text-align: center;
  justify-content: center;
  color: #ffffff;
  font-size: 5vw;
  -webkit-animation-name: animation-project-name;
  -webkit-animation-duration: 10s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  animation-name: animation-project-name;
  animation-duration: 10s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
#project-name:before {
  content: "[";
  left: 25%;
}
#project-name:after {
  content: "]";
  position: absolute;
  right: 25%;
}
#project-name:after, #project-name:before {
  position: absolute;
  color: red;
  font-size: 1em;
  line-height: 40px;
  -webkit-animation-name: opacity-bracket;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-name: opacity-bracket;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
#project-name p {
  font-weight: bold;
}

/* End of referenced code : Text Animation Effect for Splash Page */
#bg-one {
  bottom: 50px;
  position: fixed;
  z-index: -2;
  width: 100%;
  display: inline-flex;
}

#bg-two {
  bottom: 250px;
  z-index: -3;
  position: fixed;
  width: 100%;
  filter: blur(6px);
  display: inline-flex;
}

#bg-three {
  bottom: 375px;
  z-index: -4;
  position: fixed;
  width: 100%;
  filter: blur(12px);
  display: inline-flex;
}

#bg-four {
  bottom: 475px;
  z-index: -5;
  position: fixed;
  width: 100%;
  filter: blur(18px);
  display: inline-flex;
}

@keyframes flicker {
  100% {
    opacity: 1;
  }
  0% {
    opacity: 0;
  }
}
/*
*   Animation of human vectors in the background of Splash Page
*   This code was adapted from CodePen post by Robin Rendle
*   to make human vectors fade out gradually, using together with JavaScript
*   accessed 13-02-2020
*   https://codepen.io/robinrendle/pen/397deea9cfff5c5973d0051765ae7bef?editors=1111
*/
.person {
  animation: flicker var(--animation-time) ease reverse 1 forwards;
  fill: #000000;
}

/* End of referenced code : Animation of human vectors in the background of Splash Page */
#content-page {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  font-size: 1.5em;
  white-space: nowrap;
  text-align: center;
  z-index: -1;
}

#map path {
  fill: #666666;
  stroke: #999999;
}

#map path:hover {
  fill: #cc0000;
}

.left,
.right {
  width: 45%;
  padding: 1em;
  vertical-align: top;
  text-align: center;
  white-space: normal;
}

.header-1 {
  margin-bottom: 4em;
}

.sub-menu {
  width: auto;
  border: 1px solid #ffffff;
  border-left-width: 15px;
  border-left-color: #990000;
  margin-bottom: 0.75em;
  padding: 0.5em;
  vertical-align: middle;
  color: #ffffff;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
  text-align: left;
  background: rgba(0, 0, 0, 0.75);
  transition: 0.3s ease;
}

.sub-menu:hover {
  background: -moz-linear-gradient(120deg, #660000 0%, #330000 100%);
  background: -webkit-linear-gradient(120deg, #660000 0%, #330000 100%);
  background: linear-gradient(120deg, #660000 0%, #330000 100%);
  box-shadow: 0 0 15px #cccccc;
}

a.sub-menu-link {
  text-decoration: none;
}

.site-name {
  font-family: "Special Elite", cursive;
  font-weight: bold;
  font-size: 2em;
  color: #ffffff;
  padding-bottom: 0.5vw;
}

.sub {
  font-weight: bold;
  font-size: 1em;
  color: #ffffff;
}

.quote {
  font-weight: lighter;
  color: #ffffff;
  padding-bottom: 1.5em;
}

.authors {
  font-size: 1em;
  font-weight: lighter;
  color: #ffffff;
}

.menu > div {
  text-align: left;
}

.subunit-label {
  font-weight: lighter;
  font-size: 0.7em;
  fill: #ffffff;
}

text {
  pointer-events: none;
}

div.tooltip {
  position: absolute;
  text-align: left;
  width: fit-content;
  padding: 0.5em;
  font: 0.5em;
  background: #fff;
  border: 0px;
  pointer-events: none;
}

@-webkit-keyframes opacity-bracket {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@-webkit-keyframes change {
  0%, 25% {
    transform: translate3d(0, 50%, 0);
  }
  75%, 100% {
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes opacity-quote {
  0%, 100% {
    opacity: 0;
  }
  15%, 85% {
    opacity: 1;
  }
}
@-webkit-keyframes animation-project-name {
  0%, 50% {
    opacity: 0;
  }
  65%, 100% {
    opacity: 1;
  }
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}
@-webkit-keyframes opacity-intro-page {
  0%, 90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes opacity-bracket {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@-o-keyframes change {
  0%, 25% {
    transform: translate3d(0, 50%, 0);
  }
  75%, 100% {
    transform: translate3d(0, 0, 0);
  }
}
@-o-keyframes opacity-quote {
  0%, 100% {
    opacity: 0;
  }
  15%, 85% {
    opacity: 1;
  }
}
@-o-keyframes animation-project-name {
  0%, 50% {
    opacity: 0;
  }
  65%, 100% {
    opacity: 1;
  }
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}
@-o-keyframes opacity-intro-page {
  0%, 90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes opacity-bracket {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@-moz-keyframes change {
  0%, 25% {
    transform: translate3d(0, 50%, 0);
  }
  75%, 100% {
    transform: translate3d(0, 0, 0);
  }
}
@-moz-keyframes opacity-quote {
  0%, 100% {
    opacity: 0;
  }
  15%, 85% {
    opacity: 1;
  }
}
@-moz-keyframes animation-project-name {
  0%, 50% {
    opacity: 0;
  }
  65%, 100% {
    opacity: 1;
  }
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}
@-moz-keyframes opacity-intro-page {
  0%, 90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes opacity-bracket {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@keyframes change {
  0%, 25% {
    transform: translate3d(0, 50%, 0);
  }
  40%, 100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes opacity-quote {
  0%, 100% {
    opacity: 0;
  }
  15%, 85% {
    opacity: 1;
  }
}
@keyframes animation-project-name {
  0%, 50% {
    opacity: 0;
  }
  65%, 100% {
    opacity: 1;
  }
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}
@keyframes opacity-intro-page {
  0%, 90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
header {
  display: flex;
  position: fixed;
  width: 100%;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  color: #ffffff;
  padding: 0 1.5vw 0 1.5vw;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
}

header a:link,
header a:visited,
.main-menu-item {
  color: #ffffff;
  text-decoration: none;
}

.content-normal a:link,
.content-normal a:visited,
.content-wide-75 a:link,
.content-wide-75 a:visited {
  color: #ffffff;
  text-decoration: underline;
}

header a:hover,
.content-normal a:hover,
.content-wide-75 a:hover,
.main-menu-item:hover {
  color: #cccccc;
  cursor: pointer;
}

.main-menu-item {
  font-size: 0.9em;
  margin-right: 1vw;
  padding-left: 1vw;
  border-left: 2px solid #ffffff;
  width: 20%;
  text-align: left;
  background-color: rgba(1, 1, 1, 0.2);
  display: flex;
  align-items: center;
}

#site-name-header > a {
  display: block;
  padding-top: 1vw;
  color: #ffffff;
}

#menu-btn {
  position: relative;
}

/*
*   Checkbox for toggle open/close dropdown menu
*   This code has written by myself, but inspired by Chris Coyier's content at css-tricks.com
*   accessed 23-10-2019
*   https://css-tricks.com/the-checkbox-hack/
*   Adapt with dropdown menu class '.menu-dropdown-items'
*/
#btn-toggle {
  /* Checkbox used for toggle drop-down menu, define opacity = 0 and bring it into front layer */
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
}

/* End of referenced code : Checkbox for toggle open/close dropdown menu */
#label-btn-toggle {
  display: none;
}

/*
*   CSS Hamburger fold-out menu
*   This code was adapted from CodePen post by Erik Terwan
*   accessed 23-10-2019
*   https://codepen.io/erikterwan/pen/EVzeRP
*   Change code by set 'display' to be flex / remove 'transition' / adjust 'position'
*   see further comments for adaptions
*/
#menu-toggle {
  /* Hamburger menu icon wrapper */
  display: flex;
  /* Change display from 'block' to 'flex' */
  flex-flow: column nowrap;
  /* Change positioning from 'top', 'left' to use 'justify-content', 'align-items' */
  justify-content: center;
  align-items: center;
  height: 100%;
  /* add 'height' setting */
}

#menu-toggle div {
  width: 33px;
  height: 4px;
  margin-top: 2.5px;
  /* change margin sizes */
  margin-bottom: 2.5px;
  background: #cccccc;
  /* change color of each line to CCCCCC */
  border-radius: 3px;
  z-index: 1;
}

/* End of referenced code : CSS Hamburger fold-out menu */
/*
*   Dropdown menu for mobile site
*   This code was adapted from w3schools.com
*   accessed 23-10-2019
*   https://www.w3schools.com/css/tryit.asp?filename=trycss_dropdown_button
*   Change code by add 'border' to each menu item / Set position by using 'transform' / change appearance
*   Adapt checkbox '#btn-toggle:checked' to toggle dropdown menu open or close
*   see further comments for adaptions
*/
.menu-dropdown-items {
  display: none;
  position: absolute;
  max-width: 16vw;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 15px 15px;
  z-index: 2;
}

/* End of referenced code : Dropdown menu for mobile site */
.main-menu-item-mobile {
  color: #ffffff;
  padding: 0.5em 0.5em;
  background-color: #333333;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  border-bottom: 1px solid #cccccc;
  cursor: pointer;
}

.sub-menu-items ul,
.menu-dropdown-items ul {
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
  padding-left: 1.25em;
}

.sub-menu-items ul li,
.menu-dropdown-items ul li {
  list-style: circle;
  font-size: 0.8em;
  font-weight: normal;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
}

.story {
  padding: 4em 2em;
  color: #ffffff;
}

.bg-img {
  height: 100%;
  text-shadow: 0px 0px 10px #000000;
}

.bg-color {
  height: max-content;
}

.black-100 {
  background-color: black;
}

.black-85 {
  background-color: rgba(0, 0, 0, 0.85);
}

.black-50 {
  background-color: rgba(0, 0, 0, 0.5);
}

.super-dark-cyan-90 {
  background-color: rgba(0, 26, 51, 0.9);
}

.white-100 {
  background-color: white;
}

.yellow-1 {
  background-color: rgba(75, 53, 1, 0.75);
}

.brick-3 {
  background-color: #ba6b57;
}

.drowning-1 {
  background-color: #a9957d;
}

.drowning-2 {
  background-color: #612a00;
}

.how-can-find-1 {
  background-color: #5c374c;
}

.how-can-find-2 {
  background-color: #985277;
}

.text-on-translucent {
  text-shadow: 0px 1px 5px black;
}

.lead {
  font-size: 1.5em;
  font-weight: 300;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: inherit;
}

#data-and-methodology-lead {
  font-size: 1.25em;
  background-color: #660000;
  margin-top: 2em;
}
#data-and-methodology-lead h1 {
  margin: 0;
}

.lead-inside {
  width: 100%;
  margin: 0 auto;
  padding: 1.5em 2em;
  background: black;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.75) 40%, rgba(0, 0, 0, 0.75) 60%, rgba(0, 0, 0, 0) 100%);
}

.lead-inside h1 {
  margin: 0;
  margin-bottom: 0.5em;
}

.lead-inside p {
  margin: 0;
}

.content, .content-wide, .content-wide-75, .content-normal,
.content-text-black {
  margin: 0 auto;
  padding: 2em;
  font-size: 1.2em;
}
.content > p:first-of-type, .content-wide > p:first-of-type, .content-wide-75 > p:first-of-type, .content-normal > p:first-of-type,
.content-text-black > p:first-of-type {
  margin-top: 0;
}
.content > p:last-of-type, .content-wide > p:last-of-type, .content-wide-75 > p:last-of-type, .content-normal > p:last-of-type,
.content-text-black > p:last-of-type {
  margin-bottom: 0;
}

.content-normal,
.content-text-black {
  width: 50%;
}

.content-text-black a:hover {
  color: #666666 !important;
  cursor: pointer;
}

.content-text-black,
.content-text-black a:link,
.content-text-black a:visited {
  color: #222;
}

.content-wide-75 {
  width: 75%;
}

.content-wide {
  width: 100%;
}

.content-box-75 {
  -webkit-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.75);
}

.content-box-25 {
  -webkit-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.25);
}

.content-box-lite {
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.content-box-lite-type-2 {
  border: 2px solid #eee;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.with-vis {
  display: flex;
  align-items: center;
  justify-content: center;
}

.with-vis-vertical {
  width: 95%;
  margin: 0 auto;
}

blockquote {
  font-style: italic;
  font-weight: bold;
  margin-block-start: 2em;
  margin-block-end: 2em;
  margin-inline-start: 2em;
  margin-inline-end: 3em;
}

blockquote > p {
  font-style: normal;
}

.remark {
  font-style: italic;
}

.soon {
  width: 50%;
  margin: 0 auto;
  padding: 2em;
  font-size: 2em;
  text-align: center;
  font-weight: bold;
  text-shadow: 0px 0px 10px #000000;
}

.sub-topic {
  font-size: 1.3em;
  font-weight: bold;
  padding: 0.5em;
  margin-top: 2em;
  margin-bottom: 1em;
}

.purple-1 {
  background-color: #5c374c;
}

.dark-red-1 {
  background-color: #660000;
}

table {
  font-size: 1em;
  color: #FFFFFF;
  width: 50%;
  margin: 0 auto;
}

td {
  border-bottom: 1px solid #555555;
}

td.value {
  width: 20%;
  text-align: center;
}

@media only screen and (max-device-width: 850px) {
  body {
    font-size: 36px;
  }

  .left,
.right {
    display: block;
    width: 100%;
  }

  header {
    padding: 2vw;
  }

  .mobile-menu {
    /* Use flex (1 column) in main menu for mobile site */
    width: 12%;
    display: flex;
    flex-flow: column nowrap;
  }

  .menu-dropdown-items {
    font-size: 1em;
    min-width: 30vw;
    max-width: 45vw;
    transform: translate(-70%, 45px);
  }

  .desktop-menu {
    display: none;
  }

  #btn-toggle:checked ~ .menu-dropdown-items {
    display: block;
  }

  .header-1 {
    margin-bottom: 1em;
  }

  .subunit-label {
    font-size: 0.5em;
  }

  .lead-1 {
    top: 0%;
    width: 100%;
  }

  .story .content, .story .content-normal,
.story .content-text-black, .story .content-wide-75, .story .content-wide,
.soon {
    width: 100%;
  }

  .with-vis {
    flex-direction: column;
  }
}
@media only screen and (min-device-width: 850px) {
  .left,
.right {
    display: inline-block;
  }

  .desktop-menu {
    width: 60%;
    height: max-content;
    display: flex;
    /* Use flex (1 row) in main menu for desktop site */
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: stretch;
    margin: 1em 0;
  }

  .mobile-menu {
    display: none;
  }

  .content, .content-normal,
.content-text-black, .content-wide-75, .content-wide {
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
  }
}
@media only screen and (min-device-width: 850px) and (max-device-width: 1024px) {
  body {
    font-size: 14px;
  }
}

/*# sourceMappingURL=animated.css.map */
