html {
    font-size: 0;
}

body {
    font-size: 16px;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
}

.index-page {
    width: 100%;
    margin: 0 auto;
    font-size: 1.5em;
}

.left, .right {
    width: 46%;
    padding: 1em;
    vertical-align: top;
    text-align: center;
}

.header-1 {
    height: 20em;
}

.topic {
    font-weight: bold;
    font-size: 1.2em;
}

.quote {
    font-weight: lighter;
    font-style: italic;
}

.authors {
    font-weight: lighter;
}

.menu > div {
    text-align: left;
}

@media only screen and (max-width: 600px) {
    .left, .right {
        display: block;
    }
}

@media only screen and (min-width: 601px) {
    .left, .right {
        display: inline-block;
    }
}